{% extends 'base.html' %}
{% block content %}
<div class="panel">
  <table>
    <thead>
      <tr><th>Code</th><th>Name</th><th>Category</th><th>Default Unit</th><th>Value Type</th></tr>
    </thead>
    <tbody>
      {% for i in indicators %}
      <tr>
        <td>{{ i.indicator_code }}</td>
        <td>{{ i.indicator_name }}</td>
        <td>{{ i.category or '-' }}</td>
        <td>{{ i.default_unit or '-' }}</td>
        <td>{{ i.value_type }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
